<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>Fave</title>
	</head>
	<body>
		<div class="my-fave" style="background-color: #d2d2d2">
			<div class="section fp-one" style="text-align: center; font-size: 28px; display: flex; flex-direction: column;">
				<p class="section-title" style="font-size: 30px; margin: 0;">The one · 一个</p>
				<div class="fp-one-image-wrapper" style="height: 250px;">
					<img class="fp-one-image common-image" style="height: 100%; width: 100%; object-fit: contain;" src="<%= theOne.img%>">
				</div>
				<span class="fp-one-type"><%= theOne.type%></span>
				<p class="content fp-one-content" style="padding: 8px; margin: 0; text-indent: 44px; text-align: left; font-size: 22px;"><%= theOne.text%></p>
			</div>
			<div class="seperator" style="margin: 22px 0 11px; border-bottom: 1px dashed #8e5757;"></div>
			<div class="section hotword-pedia" style="text-align: center; font-size: 28px">
				<p class="section-title" style="margin: 0;">Jikipedia · 每日一词</p>
				<p class="pedia-title" style="padding-top: 6px; margin: 0;"><%= jikipedia.title%></p>
				<p class="content pedia-content" style="padding: 8px; margin: 0; text-indent: 44px; text-align: left; font-size: 22px;"><%= jikipedia.content%></p>
			</div>
			<div class="seperator" style="margin: 22px 0 11px; border-bottom: 1px dashed #8e5757;"></div>
			<div class="section today-on-history" style="text-align: center; font-size: 28px">
				<p class="section-title" style="margin: 0;">Today on History</p>
				<p class="history-date" style="font-size: 16px; display: inline-block; padding: 0 11px; margin: 10px 0; background-color: rgba(88, 68, 255, 0.2); border-radius: 4px;"><%= history.date%></p>
				<ul class="history-illustration" style="list-style: none; padding: 0 6px; margin: 0; margin-top: 8px;">
					<% for(let i = 0; i < history.illus.length; i++){ %>
						<% let curr = history.illus[i] %>
						<li class="illustration-item" style="list-style: none; margin-bottom: 11px; background-color: rgba(255,255,255, .7); border-radius: 5px; padding: 11px 0;">
							<div class="event-image-wrapper" style="height: 220px;">
								<img src="<%= curr.img%>" style="height: 100%; width: 100%; object-fit: contain;" class="event-illus-image common-image">
							</div>
							<p class="event-desc-text" style="margin: 11px 0 0; font-size: 22px;"><%= curr.text%></p>
						</li>
					<% } %>
				</ul>
				<ul class="history-plain-text" style="list-style: none; padding: 0 6px; margin: 0;">
					<% for(let i = 0; i < history.desc.length; i++){ %>
						<% let curr = history.desc[i] %>
						<li class="plain-item" style="list-style: none; margin-bottom: 11px; background-color: rgba(255,255,255, .7); border-radius: 5px; padding: 11px 0; font-size: 22px;"><%= curr %></li>
					<% } %>
				</ul>
			</div>
		</div>
	</body>
</html>
